body{

    padding-top:20px;

}

#fcc_foldout_menu {

    top:300px  !important;
}

#fcc_foldout_toggler{

    top:300px  !important;

}

a {

    text-decoration: none;

}

#pomodoro{
    max-width:1000px;
    margin:auto;
}

#break-decrement > h1{

    width:21.03px;

}

#session-decrement > h1{
    
        width:21.03px;
    
    }